*{margin: 0;padding: 0;}

body{
    font-family: 'Cabin', sans-serif;
    position: relative;
}
/*

font-family: 'Josefin Sans', sans-serif;
font-family: 'Cabin', sans-serif;

*/
@font-face{
    font-family:'cubano';
    src: url(../font/cubano-regular-webfont.ttf);
}
.hero{
    background-image: url(../images/bg_banner.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 555px;
}
/*start navber*/
.brand_title{
    font-family: 'cubano';
    font-weight: 400;
    font-size: 25px;
}
.custom_link{
    font-weight:500;
    font-size: 18px;
    color: #fff !important;
}

.custom_navber_nav li a{
    border-radius: 5px;
    transition: 1s;
}
.custom_navber_nav li a:hover{
    border-radius: 5px;
    transition: 1s;
    background: #fff !important;
    color: #101010 !important;
}

/*start banner*/
.img_caption{
    margin-top: 90px;
    margin-bottom: 90px;
}
.img_caption p{
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: 300;
    font-size: 32px;
    color: #fff;
}
.img_caption h1{
    font-weight: bold;
    font-size: 66px;
    color: #fff;
}
.img_caption .custom_btn{
    font-weight: bold;
    font-size: 23px;
    padding: 15px 50px;
}

/*start services*/
.web_develop{}
.web_develop h1{
    font-weight: bold;
    font-size: 60px;
}
.web_develop h1 span{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}
.web_develop p{
    font-weight: 400;
    font-size: 18px;
}
.workshop_contain{}
.workshop_contain h1{
    font-weight: 500;
    font-size: 22px;
}
.workshop_contain p{
    
}

/*start clients*/

.common_title h1{
    font-weight: bold;
    font-size: 60px;
}
.common_title p{
    font-weight: 400;
    font-size: 22px;
    color: #777;
}
.common_title h1 span{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

.bg_quote_1{
    background-image: url(../images/bg_quate.png);
    background-size:cover;
    background-position:left center;
    min-height: 200px;
}

.bg_quote_2{
    background-image: url(../images/bg_quate_2.png);
    background-size: cover;
    background-position: right center;
    min-height: 200px;
}
.quote p{
    font-weight: 400;
    font-size: 26px;
    color: #777;
}
.custom_blk_foote{
    font-weight: 400;
    font-size: 20px;
    color: #7690c5 !important;
}

/*start team*/

.team{
    background-color: #111111;
}
.team_title{
    color: #fff;
}
.team_text p{
    color: #ebebeb;
    font-weight: 400;
    font-size: 20px;
}
.profile_bottom p{
    color: #fff;
}
.profile_bottom p{
    font-weight:bold;
    font-size: 18px;
}
.profile_bottom p span{
    font-weight: 400;
    font-size: 16px;
    color: #ebebeb;
}
.icon{
    
}
/*common css*/
.icon_bg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    background-color: transparent;
    border: 5px solid #fff;
}
.icon_bg i{
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 27px;
    padding-top: 5px;
}
.img_bg{
    height: 250px;
    width: 250px;
    display: inline-block;
    border-radius: 50%;
    background-color: transparent;
    border: 5px solid #fff;
}

/*start contact*/
.contact{
    background-color: #7690c5;
    min-height: 350px;
}

.contact_title h1{
    color: #fff;
}
.contact_title h1 span{}
.contact_title p{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
.icon_contact{
    color: #fff;
}

.text_contact p{
    font-weight: 400;
    color: #fff;
    font-size: 18px;
}
.custom_form{
    font-weight: 500;
    color: #bbbbbb;
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 30px;
}
.footer{
    min-height: 60px;
}
.footer p{
    color: #fff;
    font-weight: 400;
    padding-top: 25px;
}




